@page "/"
@page "/signin"

<div class="signin-page">
    <div class="signin-card">
        <h2>Welcome Back</h2>
        <p class="subtitle">Please sign in to continue</p>

        <div class="input-group">
            <input type="email" placeholder="Email" />
        </div>

        <div class="input-group">
            <input type="password" placeholder="Password" />
        </div>

        <button class="signin-button">Login</button>

        <div class="links">
            <a href="#">Reset password</a>
            <span>|</span>
            <a href="#">Create an account</a>
        </div>
    </div>
</div>